@font-face {
    font-family: public sans;
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis-SemiBold.woff);
  }
  body{
    background-color: inherit;
      }

  p {
    font-family: public sans, helvetica neue, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: Metropolis, helvetica neue, sans-serif;
    transition: font-family .2s ease-in-out;
  }
  
  
  .header-bar, nav.aside-nav, input#search {
    color:black;
  }
  .bt-menu-trigger span {
    background-color: black;
  }
  .bt-menu-trigger span:after,
.bt-menu-trigger span:before {

  background-color: black;
}
.article-body{
  padding: 2em;
}