@font-face {
    font-family: public sans;
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis-SemiBold.woff);
  }
  body{
    background-color: inherit;
      }

  p, span, li {
    /* font-family: public sans, helvetica neue, sans-serif; */
    font-weight:300;
  }
  b, strong {
    font-weight: 600 !important;
}

  h1, h2, h3,h4,h5,h6 {
    font-family: Metropolis, helvetica neue, sans-serif;
    transition: font-family .2s ease-in-out;
  }


  .header-bar, nav.aside-nav, input#search {
    color:black;
  }
  .bt-menu-trigger span {
    background-color: black;
  }
  .bt-menu-trigger span:after,
.bt-menu-trigger span:before {

  background-color: black;
}
