/* HOME PAGE */

.content-type-header{
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  border-bottom: solid 1px #eee;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  letter-spacing:0.5em;
  font-family: Metropolis, helvetica neue, sans-serif;
  color:#bbbbbb;
}

ul.book-list {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    list-style-type: none;;
    margin-left:0px;
    padding-left:0px;
  
  }
  ul.book-list li{
    padding:1em;
  }
  
  .book-cover{
    display: inline-block;
      width: 16em;
      height: 25em;
      position: relative;
      top: 0;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      background-repeat: no-repeat;
      background-size:auto;
      background-position: center center;  
      overflow:hidden;
    }
  
  .book-cover:hover{
     box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
    top: -3px;
  }
  
  
  .book-cover img{
    object-fit: cover;
    width:100%;
    opacity:0.7;
  }
  
  
  .book-title{
  width:100%;
  padding:0.6em 1.4em 0.6em 1.4em;
  word-spacing: 100%;
  /* display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between; */
  
  }
  
  .book-title h2{
    margin:0px;
    font-size:1.7em;
    line-height:1em; 
    padding-bottom:0.2em;
    border-bottom: black 2px solid;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
  }
  
  .book-authorexcerpt {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    
  }

  .book-authorexcerpt h3{/* AUTHOR */
   
    margin-top:8px;
    margin-bottom:0px;
    line-height:1.1em;
    color:black;
    font-family: Arial, Helvetica, sans-serif; 
  }

  .book-authorexcerpt h4{
    margin-top:8px;
    margin-bottom:0px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  color:black; 
  line-height:1.1em;
  font-size:0.7em;
  margin-left:10px;

  }

  #cover-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-grow: 1;
    margin-left: -1.4em;
    margin-right: -1.4em;
    margin-top: 1.4em;
    opacity: 0.7;
    z-index: 5;
    height: 100%;
    position: absolute;
    width: 100%;
   

  }
  
  .book-gradient{
    /*background: linear-gradient(to right, rgb(60, 13, 20, 0.5) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 9px, rgba(255, 255, 255, 0.25) 9px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);*/
    
    background: linear-gradient(90deg, 
    rgba(0,0,0,0.5) 0%, 
    rgba(255,255,255,0) 2%, 
    rgba(0,0,0,0.17) 6%, 
    rgba(255,255,255,0) 8%, 
    rgba(255,255,255,0) 10%, 
    rgba(255,255,255,0) 12%,
    rgba(255,255,255,0) 98%, 
    rgba(0,0,0,0.3) 100%);
    z-index: 9; 
    height: 100%;
    position: absolute;
    width: 100%;
  }

  /* -------- DOC STYLE -------- */
  ul.cat-list{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;;
    margin-left:0px;
    padding-left:0px;
    
  }
  ul.cat-list > li{
    margin:1em;
    padding: 1em;
    margin-top:0px;
    padding-top:0px;
    /* background-color: #eee; */
    /* border:solid 1px #eee;
    border-radius:5px; */
  }
  ul.cat-list h2{
    text-align:center;
    margin-top:0px;
    margin-bottom:0.5em;
    border-bottom:1px solid rgb(72, 72, 72);
  }

  ul.doc-list{
    display: flex;
    flex-direction: column;
    justify-content:center;
    list-style-type: none;;
    margin-left:0px;
    padding-left:0px;
  }

  ul.doc-list li{
    text-align:center;
    transition: all 0.25s ease-in-out;
    padding: 7px;
    border-radius:5px;
  }
  ul.doc-list li:hover{
    background-color:#eee;
  }

  ul.doc-list a{
    text-decoration: none;
    color: rgb(77,77,77);
  }
  ul.doc-list a:hover{
    /* color:#0071bc; */
    color:black;
    
  }